body {
    width: 100%;
    margin: 0 auto;
    font-family: 'open sans' sans-serif;
}

.hero {
    background image: url(#)
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    margin top 10%;
}

.hero-content {
    width: 300;
    height: 50px;
    color: #;
    text-align: center;

}


/*----------End of Main Section--------*/